@model CliMed.Models.Utentes

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Utentes</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataNasc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataNasc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Contacto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Contacto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Morada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Morada)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CC)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CC)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NIF)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NIF)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdUtente">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
